/* 5. Home-style-2 */

/*5.1 plummet-about-section-s2 */
.plummet-about-section-s2 {
    position: relative;
    margin-top: -50px;
    margin-left: -70px;

    @media (max-width:1599px) {
        margin-top: 120px;
        margin-left: 0px;
    }

    @media (max-width:991px) {
        margin-top: 90px;
    }

    @media (max-width:767px) {
        margin-top: 80px;
    }

    .about-wrap {
        background: #f7f2ee;
        padding: 60px;
        width: 1645px;
        display: flex;
        align-items: center;

        @media (max-width:1699px) {
            padding: 50px;
            width: 1500px;
        }

        @media (max-width:1599px) {
            padding: 30px;
            width: 100%;
        }

        @media (max-width:575px) {
            padding: 10px;
        }

        @media (max-width:991px) {
            display: block;
        }

        .fun-fact-card {
            background: url(../images/fun-fut.png);
            position: relative;
            z-index: 1;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 470px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 40px;

            @media (max-width:1399px) {
                padding: 20px;
            }

            @media (max-width:991px) {
                margin: 0 auto;
            }

            @media (max-width:767px) {
                width: 100%;
            }

            &::before {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                content: "";
                background: #af9067d6;
                z-index: -1;
            }

            .info {
                width: calc(100% - 50%);

                h3 {
                    color: #fff;
                    text-align: center;
                    font-size: 90px;
                    font-family: $heading-font;
                    font-weight: 400;

                    @media (max-width:1399px) {
                        font-size: 80px;
                    }

                    @media (max-width:1199px) {
                        font-size: 60px;
                    }

                    @media (max-width:575px) {
                        font-size: 40px;
                    }

                    i {
                        font-size: 10px;
                        margin-left: -30px;

                        @media (max-width:575px) {
                            display: none;
                        }
                    }
                }
            }

            .text {
                padding-left: 20px;
            }

            h2 {
                color: #fff;
                font-size: 30px;
                font-family: $heading-font;
                font-weight: 400;
                line-height: 36px;
            }

            p {
                color: #fff;
                font-size: 16px;
                font-family: $base-font;
                font-weight: 400;
                line-height: 30px;
                margin-bottom: 0;
            }
        }

        .about-card {
            width: 495px;
            margin-left: 75px;

            @media (max-width:1599px) {
                margin-left: 20px;
            }

            @media (max-width:991px) {
                margin: 0 auto;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            @media (max-width:767px) {
                width: 100%;
            }

            .wpo-section-title-s2 {
                text-align: left;
                margin-bottom: 25px;

                @media (max-width:991px) {
                    text-align: center;
                }

                h2 {
                    @media (max-width:1599px) {
                        font-size: 35px;
                        line-height: 45px;
                    }

                    @media (max-width:1399px) {
                        font-size: 33px;
                        line-height: 45px;
                    }

                    @media (max-width:1199px) {
                        font-size: 28px;
                        line-height: 35px;
                    }
                }
            }

            p {
                color: #616c75;
                font-size: 16px;
                font-family: $base-font;
                font-weight: 400;
                line-height: 30px;
                margin-bottom: 0;

                @media (max-width:991px) {
                    text-align: center;
                }

                a {
                    font-family: $base-font;
                    font-weight: 600;
                    color: #af9067;
                }
            }
        }

        .about-video {
            width: 346px;
            height: 336px;
            background: url(../images/video-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-left: 75px;
            position: relative;
            z-index: 1;

            @media (max-width:1599px) {
                margin-left: 20px;
            }

            @media (max-width:991px) {
                margin: 0 auto;
            }

            @media (max-width:767px) {
                width: 100%;
            }

            .video-holder {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;

                .video-btn {
                    display: block;
                    width: 80px;
                    height: 80px;
                    line-height: 61px;
                    text-align: center;
                    background: #ffffff;
                    border-radius: 50%;
                    margin-left: 30px;
                    position: relative;
                }

                .video-btn i {
                    font-size: 25px;
                    color: #fff;
                }

                .video-btn:before {
                    position: absolute;
                    left: -8px;
                    top: -8px;
                    width: 120%;
                    height: 120%;
                    background: #ffffff38;
                    content: "";
                    border-radius: 50%;
                    z-index: -1;
                    -webkit-animation: spineer 2s infinite;
                    animation: spineer 2s infinite;
                }

                .video-btn:after {
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-top: 9px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 14px solid #af9067;
                    position: absolute;
                    left: 52%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

/*5.2 plummet-property-section-s2 */
.plummet-property-section-s2 {
    @media (max-width:991px) {
        padding-bottom: 60px;
    }

    .wpo-section-title-s2 {
        padding: 0 50px;

        @media (max-width:1199px) {
            padding: 0;
        }
    }

    .property-wrap {}

    .property-item {
        position: relative;
        z-index: 1;

        @media (max-width:991px) {
            margin-bottom: 30px;
        }

        .images {
            img {
                width: 100%;
            }
        }

        .text {
            width: 320px;
            opacity: 0.949999988079071;
            background: #F7F2EE;
            padding: 40px;
            margin-top: -150px;
            position: relative;
            z-index: 1;

            @media (max-width:1199px) {
                width: 280px;
                padding: 20px;
            }

            @media (max-width:991px) {
                width: 300px;
                padding: 20px;
            }

            h3 {
                color: #20170C;
                font-size: 19px;
                font-family: $heading-font;
                font-weight: 400;
                line-height: 35px;
                text-transform: uppercase;
            }

            span {
                color: #20170C;
                font-size: 40px;
                font-family: $heading-font;
                font-weight: 400;
                line-height: 53px;
                text-transform: capitalize;
            }

            ul {
                li {
                    list-style: none;
                    color: #A07F56;
                    font-size: 16px;
                    font-family: $base-font;
                    font-weight: 400;
                    line-height: 28px;
                    margin-bottom: 6px;
                }
            }

            .theme-btn {
                margin-top: 20px;
            }
        }
    }
}

/*5.3 plummet-choose-section */
.plummet-choose-section {
    position: relative;
    background: url(../images/choose-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width:991px) {
        padding-bottom: 60px;
    }

    @media (max-width:767px) {
        padding-bottom: 50px;
    }

    .wpo-section-title-s2 {
        text-align: left;

        @media (max-width:1199px) {
            margin-bottom: 20px;
        }

        span {
            text-transform: uppercase;
        }

        h2 {
            margin-bottom: 20px;
            margin-top: 10px;
        }

        p {
            color: #616C75;
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            margin-right: 80px;
            margin-bottom: 0;

            @media (max-width:1199px) {
                margin-right: 0;
            }
        }
    }

    .left-content {
        padding-right: 80px;

        @media (max-width:1199px) {
            padding-right: 0;
        }

        .progress-item {
            position: relative;
            margin-bottom: 60px;

            @media (max-width:1199px) {
                margin-bottom: 20px;
            }
        }

        .progress-item .progress {
            padding: 0;
            width: 100%;
            height: 8px;
            background: #fff;
            overflow: unset;
            cursor: pointer;
            border-radius: 0;

            .bar {
                position: relative;
                float: left;
                min-width: 1%;
                height: 100%;
                background: #A07F56;
                z-index: 1;
            }

        }

        p {
            color: #20170C;
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
        }

        .progres-label {
            margin-bottom: 0;
            position: absolute;
            top: 0px;
            right: 50px;
            color: #A07F56;
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
        }



    }

    .right-content {
        position: relative;

        @media (max-width:991px) {
            margin-top: 50px;
        }

        .cord-single {
            background: $white;
            padding: 30px 50px;
            max-width: 570px;
            margin-bottom: 30px;

            @media (max-width:767px) {
                max-width: 100%;
            }

            @media (max-width:575px) {
                padding: 20px;
            }

            .content {
                display: flex;
                align-items: center;
                justify-content: left;

                @media (max-width:767px) {
                    display: block;
                }

                .icon {
                    width: 90px;
                    height: 80px;
                    background: #F7F2EE;
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                h2 {
                    color: #20170C;
                    font-family: $heading-font;
                    font-size: 25px;
                    font-weight: 400;
                    line-height: 35px;
                    text-transform: capitalize;
                    margin-left: 30px;
                    margin-right: 80px;

                    @media (max-width:767px) {
                        margin: 0;
                        margin-top: 30px;
                    }
                }
            }

            p {
                margin-bottom: 0;
                color: #616C75;
                font-family: DM Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                margin-top: 22px;
            }
        }

        .on-cord {
            margin-left: 55px;

            @media (max-width:1199px) {
                margin-left: 0;
            }
        }

        .shape {
            position: absolute;
            right: 0;
            top: 50%;
            z-index: -1;
            transform: translateY(-50%);

            @media (max-width:767px) {
                display: none;
            }
        }
    }
}

/*5.4 plummet-team-section */
.plummet-team-section {
    
}
.team-wrap {}
.team-item {
    margin-bottom: 30px;

    @media (max-width:767px) {}

    .images {
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(32, 23, 12, 0.00) 0%, #20170C 100%);
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease-in-out;
        }

        img {
            width: 100%;
        }

        ul {
            position: absolute;
            bottom: 17px;
            left: 67%;
            transform: translateX(-50%);
            z-index: 1;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease-in-out;


            @media (max-width:1199px) {
                left: 58%;
            }

            @media (max-width:991px) {
                left: 50%;
                text-align: center;
            }

            li {
                list-style: none;
                display: inline-block;

                &:hover {
                    a {
                        background: #A07F56;

                        i {
                            color: $white;
                        }
                    }
                }

                a {
                    width: 52px;
                    height: 52px;
                    background: $white;
                    border-radius: 100px;
                    text-align: center;
                    line-height: 52px;
                    display: block;
                    margin-right: 12px;
                    transition: all .3s ease-in-out;

                    i {
                        color: #20170C;
                        font-size: 15px;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }

    .team-content {
        background: #F7F2EE;
        transition: all .3s ease-in-out;
        max-width: 290px;
        padding: 20px 30px;
        margin-top: 10px;

        h2 {
            margin-bottom: 0;

            a {
                color: #20170C;
                font-size: 25px;
                font-weight: 400;
                line-height: 35px;
                text-transform: capitalize;
                font-family: $heading-font;
                transition: all .3s ease-in-out;
            }
        }

        span {
            color: #A07F56;
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            text-transform: capitalize;
            transition: all .3s ease-in-out;
        }
    }

    &:hover {
        .images {

            &::before {
                opacity: 1;
                visibility: visible;
            }

            ul {
                opacity: 1;
                visibility: visible;
            }
        }

        .team-content {
            background: #A07F56;

            h2 {
                a {
                    color: #fff;
                }
            }

            span {
                color: #fff;
            }
        }
    }
}

/*5.5 plummet-project-section-s2 */
.plummet-project-section-s2 {
    position: relative;
    z-index: 1;
    background: url(../images/project-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 490px;

    @media (max-width:991px) {
        padding-bottom: 90px;
    }

    @media (max-width:767px) {
        padding-bottom: 80px;
    }

    .shape {
        position: absolute;
        left: 0;
        bottom: -210px;
        width: 100%;
        z-index: -1;
    }

    .wpo-section-title-s2 {
        text-align: left;
        margin-right: 50px;
        margin-bottom: 0;

        @media (max-width:991px) {
            text-align: center;
            margin-right: 0px;
        }

        h2 {
            color: $white;

        }
    }

    .right-btn {
        text-align: right;

        @media (max-width:991px) {
            text-align: center;
            margin-top: 30px;
        }
    }

    .project-wrap {
        margin: 0 160px;
        margin-top: 90px;

        @media (max-width:1699px) {
            margin: 0 100px;
            margin-top: 90px;
        }

        @media (max-width:1599px) {
            margin: 0 50px;
            margin-top: 90px;
        }

        @media (max-width:1499px) {
            margin: 0;
            margin-top: 90px;
        }

        @media (max-width:575px) {
            margin-top: 60px;
        }

        .project-slider-s2 {
            position: relative;
            background: url(../images/project-bg-1.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }

        .project-single-item {
            max-width: 398px;
            height: 580px;
            border-right: 1px solid rgb(255, 255, 255, 0.3);
            position: relative;
            z-index: 1;

            @media (max-width:767px) {
                max-width: 100%;
                margin: 0 100px;
            }

            @media (max-width:767px) {
                height: 400px;
            }

            @media (max-width:575px) {
                max-width: 100%;
                margin: 0;
                height: 300px;
            }

            &::before {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(160, 127, 86, 0.00) 0%, #A07F56 100%);
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in-out;
            }

            .content {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 40px;
                padding-bottom: 50px;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in-out;

                @media (max-width:575px) {
                    padding: 30px;
                }

                span {
                    color: #FFF;
                    font-family: DM Sans;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 1.69px;
                    text-transform: uppercase;
                }

                h2 {
                    color: #FFF;
                    font-family: $heading-font;
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 35px;
                    text-transform: capitalize;
                    margin-top: 18px;
                    margin-bottom: 40px;

                    @media (max-width:575px) {
                        font-size: 28px;
                        margin-top: 13px;
                        margin-bottom: 30px;
                    }
                }

                .theme-btn {
                    background: #20170C;

                    &::after {
                        display: none;
                    }

                    &:hover {
                        background: rgba(32, 23, 12, 0.9);
                    }
                }
            }
        }


        .project-single-item {
            &:hover {

                &::before {
                    opacity: 1;
                    visibility: visible;
                }

                .content {
                    opacity: 1;
                    visibility: visible;
                }
            }

        }

        .owl-item.active.center {


            .project-single-item {


                &::before {
                    opacity: 1;
                    visibility: visible;
                }

                .content {
                    opacity: 1;
                    visibility: visible;
                }

            }
        }

        .owl-nav {
            @media (max-width:991px) {
                display: none;
            }
        }

        .owl-nav .owl-prev {
            position: absolute;
            left: -100px;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 100px;
            transition: all 0.3s;
            border: 1px solid #A6A6A6;

            @media (max-width:1599px) {
                left: 0;
            }

            &:hover {
                background: $theme-primary-color;
                border: 1px solid transparent;

                i {
                    color: $white;
                }
            }
        }

        .owl-nav .owl-prev i {
            color: #A6A6A6;
            transition: all 0.3s;
        }

        .owl-nav .owl-prev i::before {
            font-size: 18px;
        }

        .owl-nav .owl-next {
            right: -100px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 100px;
            transition: all 0.3s;
            border: 1px solid #A6A6A6;

            @media (max-width:1599px) {
                right: 0;
            }

            &:hover {
                background: $theme-primary-color;
                border: 1px solid transparent;

                i {
                    color: $white;
                }
            }
        }

        .owl-nav .owl-next i {
            color: #A6A6A6;
            transition: all 0.3s;
        }

        .owl-nav .owl-next i::before {
            font-size: 18px;
        }

        .owl-dots {
            text-align: center;
            position: relative;
            top: 20px;
            margin-top: -22px;

            @media (min-width:992px) {
                display: none;
            }
        }

        .owl-dots button.owl-dot {
            width: 8px;
            height: 8px;
            border-radius: 100px;
            display: inline-block;
            background: #d4c0ba;
            margin: 0 9px;
            position: relative;
            border: transparent;
            padding: 0;

            &::before {
                position: absolute;
                top: 4px;
                left: 4px;
                width: 20px;
                height: 20px;
                content: "";
                border: 1px solid transparent;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .owl-dots button.owl-dot.active {
            background-color: #af9067;
        }

    }

}

/*5.6 plummet-testimonial-section-s2 */
.plummet-testimonial-section-s2 {
    margin-top: -390px;
    position: relative;
    z-index: 1;
    padding-bottom: 120px;

    @media (max-width:991px) {
        margin-top: 0;
        padding-bottom: 90px;
    }

    @media (max-width:767px) {
        padding-bottom: 80px;
    }

    .testimonial-wrap {
        background: $white;
        padding: 100px;
        padding-bottom: 0;

        @media (max-width:1199px) {
            padding: 50px;
            padding-top: 80px;
            padding-bottom: 0;
        }

        @media (max-width:991px) {
            padding: 0px;
            padding-top: 80px;
            padding-bottom: 0;
        }

        .wpo-section-title-s2 {

            h2 {
                @media (max-width:1199px) {
                    font-size: 38px;
                }

                @media (max-width:767px) {
                    font-size: 30px;
                }

                @media (max-width:330px) {
                    font-size: 30px;
                }
            }
        }

        .testimonial-card {
            padding: 50px;
            background: #F7F2EE;
            position: relative;

            @media (max-width:991px) {
                padding: 30px 20px;
                padding-top: 35px;
                padding-left: 25px;
            }

            .images {
                width: 75px;
                height: 75px;
                outline: 1px dashed rgb(160, 127, 86, 0.5);
                outline-offset: 10px;
                border-radius: 100%;

                @media (max-width:991px) {
                    margin-left: 15px;
                    margin-top: 5px;
                }

                img {
                    border-radius: 100%;
                }
            }

            .q-icon {
                position: absolute;
                right: 50px;
                top: 30px;

                @media (max-width:575px) {
                    right: 24px;
                }
            }


            h3 {
                color: #616C75;
                font-size: 23px;
                font-weight: 400;
                line-height: 40px;
                font-family: $heading-font;
                margin-top: 50px;
                margin-bottom: 30px;

                @media (max-width:575px) {
                    font-size: 20px;
                }
            }

            h2 {
                color: #20170C;
                font-family: $heading-font;
                font-size: 25px;
                font-weight: 400;
                line-height: 35px;
                text-transform: capitalize;
            }

            span {
                color: #A07F56;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    .owl-nav {
        display: none;
    }

    .owl-nav button {
        position: absolute;
        top: 50%;
        background-color: #000;
        color: #fff;
        margin: 0;
        transition: all 0.3s ease-in-out;
    }

    .owl-nav button.owl-prev {
        left: 0;
    }

    .owl-nav button.owl-next {
        right: 0;
    }

    .owl-dots {
        text-align: center;
        padding-top: 60px;

        @media (max-width:991px) {
            padding-top: 40px;
        }
    }

    .owl-dots button.owl-dot {
        width: 8px;
        height: 8px;
        border-radius: 100px;
        display: inline-block;
        background: #d4c0ba;
        margin: 0 9px;
        position: relative;
        border: transparent;
        padding: 0;

        &::before {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 20px;
            height: 20px;
            content: "";
            border: 1px solid transparent;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .owl-dots button.owl-dot.active {
        background-color: #af9067;
    }

    .owl-dots button.owl-dot:focus {
        outline: none;
    }

    .owl-nav button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.38) !important;
    }

    .owl-nav button:focus {
        outline: none;
    }
}

/*5.7 plummet-ribbion-section */
.plummet-ribbion-section {
    .hide-title{
        display: none;
    }
    .ribbion-wrap {
        background: #F7F2EE;
        .text-slider{
            white-space: nowrap;
            will-change: transform;
            -webkit-animation: marquee 32s linear infinite;
            animation: marquee 25s linear infinite;
        }
        ul {
            li {
                list-style: none;
                display: inline-flex;
                font-size: 80px;
                font-weight: 500;
                font-family: $heading-font;
                line-height: 83px;
                text-transform: uppercase;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #20170C33;
                padding: 45px 0 35px;

                @media (max-width:991px) {
                    font-size: 70px;
                    line-height: 73px;
                }

                .images {
                    padding: 0 60px;
                    line-height: 80px;

                    @media (max-width:991px) {
                        line-height: 60px;
                    }

                    @media (max-width:767px) {
                        padding: 0 20px;
                    }

                    @media (max-width:575px) {
                        padding: 0;
                        width: 50px;
                        height: 50px;
                        line-height: 60px;
                    }

                }
            }
        }
    }
}


@keyframes marquee {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
}


/*5.8 plummet-blog-section-s2 */
.plummet-blog-section-s2 {
    padding-bottom: 90px;

    @media (max-width:991px) {
        padding-bottom: 60px;
    }

    @media (max-width:767px) {
        padding-bottom: 50px;
    }

    .wpo-section-title-s2 {
        text-align: left;
        margin-bottom: 0;

        @media (max-width:991px) {
            padding-bottom: 60px;
        }

        h2 {
            margin-bottom: 35px;

            @media (max-width:1199px) {
                font-size: 39px;
            }

            @media (max-width:991px) {
                margin-bottom: 20px;
            }

            @media (max-width:767px) {
                font-size: 30px;
            }

            @media (max-width:575px) {
                font-size: 25px;
            }
        }

        p {
            margin-bottom: 60px;

            @media (max-width:991px) {
                margin-bottom: 20px;
            }
        }
    }

    .blog-single-item {
        background: #F7F2EE;
        border: transparent;
        padding: 40px;

        @media (max-width:1399px) {
            padding: 20px;
        }

        .image {
            margin: 0;
            padding: 0;

        }

        .text {
            text-align: left;
            margin-top: 0;
            border-top: transparent;
            padding-bottom: 0;

            span {
                margin-top: 30px;
                width: 127px;
                height: 39px;
                color: #4b3832;
                text-align: center;
                font-size: 13px;
                font-family: $base-font;
                font-weight: 500;
                letter-spacing: 2.08px;
                text-transform: uppercase;
                background: $white;
                padding: 15px 20px;
            }

            h2 {
                padding: 0;
                margin-bottom: 20px;
                margin-top: 30px;

                a {
                    text-transform: capitalize;
                }
            }

            p {
                color: #616C75;
                font-family: DM Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
            }

        }


    }
}