/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

// fonts
$base-font-size: 15;
$base-font:'Nunito', sans-serif;
$heading-font:'Nunito', sans-serif;



// color
$dark-gray: #121A22;//
$body-color: #687693;
$white: #fff;
$light: #8188a9;
$black: #000;
$small-black: #20170C;
$cyan: #F3F9FF;//

$theme-primary-color: #107CDF;//
$theme-primary-color-s2: #F7F2EE;
$body-bg-color: #fff;
$section-bg-color: #fafbfe;
$text-color: #6e6e6e;
$text-light-color: #71777D;//
$text-light-color-s2: #9A9695;
$heading-color: $dark-gray;
$border-color: #E3EAF1;//
$border-color-s2: #9A9695;